<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
</div>
</body>
</html>










<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<html lang="en" xmlns:tx="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Cars</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Table Cars</h1>-->
<!--<table border="1">-->
<!--    <tr>-->
<!--        <th>number</th>-->
<!--        <th>model</th>-->
<!--        <th>color</th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--    <tr th:each="car : ${id}">-->
<!--        <td th:utext="${car.getNumber()}"></td>-->
<!--        <td th:utext="${car.getModel()}"></td>-->
<!--        <td th:utext="${car.getColor()}"></td>-->
<!--    </tr>-->
<!--    </tr>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->